.wrapper{
  width: 970px;
  height: 750px;
}

.horizontal-rule {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

/***   Top Bar   ***/

/* Logo */

#top-bar img{
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 7px;
}

.logo-letters{
  display: inline-block;
  vertical-align: top;
  padding-top: 24px;
  font-size: 30px;
  letter-spacing: 1px;
}

#top-bar #word{
  color: #838385;
}

#top-bar #stream{
  color: #0181AA;
}

/* Navigation & Login */

#nav-items, #top-bar input {
  display: inline-block;
  vertical-align: top;
}

#nav-items {
  width: 293px;
  margin-left: 326px;
  padding-left: 13px;
  padding-bottom: 7px;
  color: #A5AAB4;
  background-color: #F8F8F8;
  border: 1px solid #DBDBDB;
  border-radius: 2px;
}

#nav-items a {
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
  margin-top: 1px;
  color: #A5AAB4;
  text-decoration: none;
  font-size: 10px;
}

#top-bar input{
  border: none;
  height: 20px;
  width: 55px;
  margin-top: 1px;
  margin-left: 17px;
  background-color: #0080C0;
  font-size: 10px;
  color: white;
  border-radius: 3px;
}

/*  Other */

span.strip{
  display: inline-block;
  width: 970px;
  padding: 13px 0px 13px 10px;
  background-color: #007FBF;
  font-size: 20px;
  color: white;
}

/***    Side Bar     ***/

#side-bar{
  display: inline-block;
  margin-top: 59px;
}

/* Top Half */

#left-top {
  width: 200px;
  margin-left: 10px;
}

#left-top span {
  font-size: 16px;
  color: #00A2E1;
}

#left-top h6{
  margin-top: 13px;
  margin-bottom: 0px; 
  color: #EC5500;
}

#left-top a{
  text-decoration: none;
  color: #0181AA;
}

#left-top p {
  font-size: 11px;
  margin-top: 3px;
}

#left-top input {
  width: 200px;
  margin-bottom: 4px;
  padding: 6px 0px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
}

#left-top #schedule{
  background-color: #0181AA;
  margin-top: 10px;
}

#left-top #trial{
 background-color: #EC5500;
 margin-bottom: 3px;
}

/* Content-Ad */

#left-content-ad{
  width: 180px;
  height: 230px;
  margin-top: -4px;
  background: url("../images/left_content_ad.png");
  background-size: 180px 235px;
}

#left-content-ad h4 {
  color: #0181AA
}

#left-content-ad input{
  width: 160px;
  height: 20px;
}

/***    Main Content   ***/

#content {
  display: inline-block;
  vertical-align: top;
  width: 700px;
  margin-left: 35px;
  margin-top: 15px;
}

/* Contact Info Bar */

#home {
  width: 35px;
}

#contact p {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  font-size: 11px;
  color: #0181AA;
}

#phone {
  margin-left: 450px;
  vertical-align: top;
}

.contact-details{
  display: inline-block;
  vertical-align: top;
  width: 157px;
  margin-top: -3px;
}

.contact-details * {
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact-details h2{
  margin-top: -2px;
  color: #00A2E1;
}

#get-started {
  height: 118px;
  border: 4px solid #80B9D0;
}

/* Get Started Pane */

#flag{
  margin-top: 5px;
  margin-left: 3px;
}

#get-started div {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  margin-top: 5px;
}

#get-started div * {
  margin: 0px;
}

#get-started h4 {
  color: #00A2E1;
  margin-bottom: 4px;
}

#get-started p {
  margin-bottom: 10px;
  font-size: 13px;
}

#get-started input {
  height: 33px;
  width: 159px;
  background-color: #B7CF31;
  font-size: 12px;
  color: #DCE9BE;
  border: 2px solid #708F31;
  border-radius: 5px;
}

#content .horizontal-rule {
  margin-bottom: -13px;
}

#content a, h4, h5 {
  color: #00A2E1;
}

#content p, #content ul {
  font-size: 11px;
}

#content ul {
  padding-left: 14px;
  margin-bottom: 14px;
}